# Python / Virtual Environment
venv/
__pycache__/
*.pyc

# Node / Frontend Dependencies
frontend/node_modules/
frontend/.next/
frontend/build/
npm-debug.log

# IDE / OS specific
.DS_Store
.idea/
.vscode/

# Secrets File
.env
*.env.local
plan.txt