# backend/requirements.txt
fastapi
psycopg2-binary
uvicorn[standard]
pandas
scikit-learn
python-multipart
sqlalchemy
alembic
passlib==1.7.4
bcrypt==3.2.0
pydantic[email]
httpx
Faker>=19.0.0
python-jose[cryptography]
pytest