# backend/requirements.txt
fastapi
psycopg2-binary
uvicorn[standard]
pandas
scikit-learn
python-multipart
sqlalchemy
alembic
passlib[bcrypt]
pydantic[email]
httpx
Faker>=19.0.0
python-jose[cryptography]